* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.myLinks {
  display: flex;
  column-gap: 2rem;
}
