* {
  margin: 0;
  padding: 0;
}

table {
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.438);
  border-radius: 0.1rem;
  margin: 1rem 0 0 3rem;
  border-collapse: collapse;
  overflow: hidden;
}

tbody tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.397);
  margin: 0;
}

button {
  background-color: white;
  width: max-content;
  padding: 0.3rem;
  border: 1.5px solid rgba(0, 0, 0, 0.384);
  border-radius: 0.1rem;
  margin: 1rem;
}

td {
  padding: 0.2rem;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.438);
}

.mission-btns {
  border-right-style:hidden;
}

th {
  text-align: left;
}


tbody {
  margin: 5rem;
}



.mission-card {
  margin: 5rem;
}
