* {
  margin: 0;
  padding: 0;
}

.mission-page {
  margin: 2rem;
}

th {
  text-align: left;
}

.mission-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mission-card {
  margin: 5rem;
}